{% extends "base/base.html" %}
{% load static %}
{% load bootstrap %}

{% block title %}
{{ title }}
{% endblock %}

{% block body%}
	<div class="contain-fluid">
	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<div class="form-group">
				        <label class="control-label  " for="refresh-time">自动刷新时间</label>
				        <div class=" ">
							<select name="refresh-time"  class=" form-control" id="refresh-time">
							  <option value="">不刷新</option>
							  <option value="2">2s </option>
							  <option value="3">3s </option>
							  <option value="4">4s </option>
							  <option value="5" selected>5s </option>
							  <option value="8">8s </option>
							  <option value="10">10s </option>
							  <option value="15">15s </option>
							  <option value="20">20s </option>
							  <option value="30">30s </option>
							  <option value="60">1min </option>
							  <option value="120">2min </option>
							  <option value="240">4min </option>
							  <option value="300">5min </option>
							</select>
				        </div>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="p-info-container">
			         <div class="alert alert-danger p-info" style="display: none">
			         </div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="job_table"></div>
				</div>
				<div class="col-md-1"></div>
		</div>
		
		
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class=""><hr /></div>
				</div>
				<div class="col-md-1"></div>
		</div>
		
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="jobtask_table"></div>
				</div>
				<div class="col-md-1"></div>
		</div>

	</div>

{% endblock %}

{% block js_extend %}
	<script src="{% static '/jquery/plugins/jquery.form.min.js' %}"></script>
	<script src="{% static 'django/csrf.js' %}"></script>
	<script src="{% static 'jquery_util.js' %}"></script>
	<link href="{% static 'plugins/select2-4.0.3/dist/css/select2.min.css' %}" rel="stylesheet">
	<script src="{% static 'plugins/select2-4.0.3/dist/js/select2.min.js' %}"></script>
	
	<script>

		var inter;
		function refresh(){
			$("div.jobtask_table").html("");
			$.post("", undefined , function(jsonobj){
					var html = jsonobj["html"];
					var msg = jsonobj["msg"];
					$("div.job_table").hide(100).html(html).show(100);
					if(msg == "ok" && inter){
						window.clearInterval(inter);
					}
					bind_load_jobtask();
			});
		}
		
		function bind_load_jobtask(){
			$("a.view-jobtask-detail").each(function(){
				var $a = $(this);
				$a.click(function(){
					var url = $a.attr("data-url");
					$.post(url, undefined , function(jsonobj2){
						var html = jsonobj2["html"];
						var msg = jsonobj2["msg"];
						$("div.jobtask_table").hide(100).html(html).show(100);
					});
				});
			});
		}
		refresh();
		inter=window.setInterval(refresh,$("#refresh-time").val()*1000);

		$("#refresh-time").change(function(){
			$("div.jobtask_table").html("");
			var reftime = $(this).val();
			if(reftime && inter){
				window.clearInterval(inter);
				inter=window.setInterval(refresh,reftime*1000);
			}
			if(reftime == "" && inter){
				window.clearInterval(inter);
			}
		});

	    
	</script>

{% endblock %}


